@charset "UTF-8";

body {
    background-image: url('imagens/fundo-madeira.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
}
img#telefone {
    position: relative;
}
iframe {
    height: 481px; 
    width: 268px;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section#imagenslogo {
    width: 10px;
    display: inline-block;
    position: absolute;
    left: 92vw;
    text-align: right;
}
img.logos {
    width: 60px;
    height: 60px;
    border-radius: 90%;
    padding: 10px;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

