* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    width: 100%
}
a {
    background-color: rgba(255, 0, 0, 0.562);
    color:white;
    padding: 20px;
    display: block;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}
a:hover {
    background-color: rgba(255, 0, 0, 0.767);
}
a:active {
    background-color: rgba(255, 0, 0, 0.473);
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}